body{
    margin: 0;
    
}


.popup{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 25;
}
*{
    box-sizing: border-box;
    font-family: 'Bahnschrift';
}
a{
    text-decoration: none;
    
}
.nav{
    padding: 0 20px;
    
}
.top_nav{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}
.burger{
    padding-top: 15px;
}
.burger_btn{
    width: 50px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.burger_btn div{
    width: 100%;
    height: 6px;
    background-color: #000;
    border-radius: 3px;
}


.burger_menu{
    z-index: 30;
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100%;
    
    transition: left .3s ease ;
}


.burger_menu.burger_menu-active{
    left: 0;
}


.burger_menu_container{
    height: 100%;
    width: 100%;
}
.burger_menu_content{
    background-color: #fff;
    width: 100%;
    overflow: auto;
    height: 100%;
    padding-bottom: 60px;
}

.burger_menu_content .top_content{
    
    display: flex;
    justify-content: space-between;
    padding-left:40px ;
    padding-right: 30px;
    padding-top: 40px;
}

.burger_menu_content .close_menu{
    position: relative;
    
    width: 24px;
    height: 24px;
    margin-top: 35px;
}
.burger_menu_content .close_menu div{
    width: 24px;
    height: 4px;
    background-color: #000;
    position: absolute;
    top: 10px;
    left: 1px;
    
    
}

.burger_menu_content .close_menu div:first-child{
    transform: rotate(-45deg);
}

.burger_menu_content .close_menu div:last-child{
    transform: rotate(45deg);
}

.burger_menu_content .bot_content{
    margin-top: 120px;
}
.burger_menu_content .bot_content ul{
    margin: 0;
    padding: 0;
    list-style: none;
}


.burger_menu_content .bot_content ul li .li_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 30px 8px 35px;
}
.burger_menu_content .bot_content ul li .left_name{
    display: flex;
    align-items: center;
    width: 100%;
}
.burger_menu_content .bot_content ul li .icon{
    min-width: 50px;
}


.burger_menu_content .bot_content ul li p,
.burger_menu_content .bot_content ul li a{
    font-size: 36px;
    margin: 0;
    padding-left: 10px;
}
.burger_menu_content .bot_content ul li a{
    color: #000;
    display: block;
    width: 100%;
}

.burger_menu_content .bot_content ul li:hover .li_title{
    background-color: #FFD231;
}


.burger_menu_content .bot_content ul > li + li {
    margin-top: 45px;
}

.burger_menu_content .phone {
    margin-top: 200px;
}

.burger_menu_content .phone a{
    font-size: 48px;
    color: #000;
    padding-left: 35px;
}


.li_hide_menu{
    display: none;
    background-color: #fff;
    padding: 0 30px 0 35px;
}
.burger_menu_content .li_hide_menu ul li a{
    font-size: 30px;
    padding-left: 68px;
}
.burger_menu_content .li_hide_menu ul{
    padding: 25px 0;
}
.burger_menu_content .li_hide_menu ul > li + li{
    margin-top: 25px;
}

.top_nav .busket{
    padding-top: 20px;
    position: relative;
}

.top_nav .busket .howProd_inBasket{
    position: absolute;
    top: 0;
    left: 23px;
    font-size: 28px;
}



.bot_nav form{
    display: flex;
    justify-content: space-between;
}

.bot_nav form input{
    flex: 0 1 566px;
    height: 70px;
    border: 1px solid #B2B2B2;
    outline: none;
    background: none;
    margin-right: 40px;
    padding: 10px;
    font-size: 25px;
}

.bot_nav form button{
    background-color: #FDCF00;
    border: none;
    outline: none;
    width: 186px;
    height: 70px;
    font-size: 30px;
    
}


.categories{
    margin-top: 30px;
}

.container{
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 12px;
}
.categories .title,
.about_us .title,
.catalog .title,
.shops .title,
.contacts .title,
.filters .title,
.card_detail .title{
    width: 100%;
    background-color: #FDCF00;
    padding: 11px 20px;
}
.categories .title h3,
.about_us .title h3,
.catalog .title h1,
.shops .title h1,
.contacts .title h1,
.filters .title h1,
.card_detail .title h3{

    font-size: 36px;
    font-weight: normal;
    margin: 0;
}




.container .category_item{
    background-color: #F9F9F9;
    padding-left: 7px;
    padding-right: 15px;
    flex-basis: 49%;
    height: 136px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    
}



.container .category_item span{
    font-size: 24px;
    color: #000;
    
    
}


.container .category_item:hover,
.about_us_item:hover{
    background-color: rgb(246, 209, 69);
}

.container .category_item:hover span,
.about_us_item:hover span{
    color: #fff;
}



.banners{
    padding: 0 20px;
    margin-top: 60px;
    margin-bottom: 80px;
}


.banners .banner{
    width: 100%;
}


.banners .banner img{
    width: 100%;
}





.about_us .container{
    padding: 20px 20px;
    background-color: #F9F9F9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about_us_item{
    background-color: #fff;
    box-shadow: 0px 1px 5.88px 0.12px rgba(121, 121, 121, 0.8);
    padding: 20px 15px;
    flex-basis: 49%;
    margin-bottom: 15px;
}


.about_us_item span{
    color: #000;
    font-size: 24px;
}



.about_us_item .img{
    text-align: right;
}
  

.footer{
    background-color: #242424;
    padding-top: 50px;
    padding-bottom: 100px;
    
}


.footer_container{
    text-align: center;
}


.footer_container p{
    color: #fff;
    font-size: 48px;
    margin: 0;
    margin-bottom: 45px;
    margin-top: 50px;
}
.footer_container p:first-child{
    margin-top: 0;
}
.footer_container a{
    display: block;
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
}


.footer_social{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.footer_feedback{
    max-width: 585px;
    margin: 0 auto;
}


.footer_feedback p{
    text-align: center;
    color: #fff;
    font-size: 48px;
    margin: 0;

}



.footer_feedback a{
    width: 86px;
}


.footer_feedback a img{
    width: 100%;
}

.form_link{
    background-color: #FED131;
    width: 100%;
    padding: 13px 10px;
    margin-top: 50px;
}



.form_link form .mail{
    display: flex;
    justify-content: space-between;
    position: relative;
    
}
.form_link form input{
    flex: 0 1 365px;
    height: 70px;
    outline: none;
    border: none;
    border-radius: 10px;
    padding-left: 80px;
    font-size: 25px;
    
}

.form_link form .mail img{
    position: absolute;
    top: 22px;
    left: 20px;
}

.form_link form input::placeholder{
    color: #757575;
    
}

.form_link form button{
    outline: none;
    border: none;
    background: none;
    color: #363533;
    font-size: 22px;
    width: 155px;
}


.footer_payment{
    margin-top: 65px;
}
.footer_payment p{
    text-align: center;
    color: #fff;
    font-size: 48px;
    margin: 0;
}
.footer_payment .footer_payment_img{
    margin-top: 40px;
}

.footer_payment .footer_payment_img{
    text-align: center;
}


.footer_payment .footer_payment_img img{
    width: 87%;
}



/* catalog */




.catalog{
    margin-top: 30px;
}


.catalog_container{
    padding-top: 30px;
    padding-bottom: 112px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog_item{
    flex-basis: 49%;
    margin-bottom: 20px;
    box-shadow: 0px 1px 5.88px 0.12px rgb(121 121 121 / 80%);
    background-color: #fff;
    text-align: center;
    padding: 10px 0;
}
.catalog_item .img{
    text-align: center;
}
.catalog_item span{
    font-size: 24px;
    margin-top: 10px;
    display: block;
    color: #000;
}


.catalog_item:hover{
    background-color: #FDD116;
}

.catalog_item:hover span{
    color: #fff;
}

.shops{
    margin-top: 30px;
}



.shops .title{
    margin-bottom: 40px;
}


.phone_mail{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 88px;
    background-color: #F9F9F9;
    padding-top: 15px;
    padding-bottom: 15px;
}


.phone_mail div span{
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}

.phone_mail div a{
    font-size: 30px;
    color: #000;
}

.button_tabs{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}




.button_tabs .button_tabs_btn{
    box-shadow: 0px 1px 5.88px 0.12px rgb(121 121 121 / 80%);
    display: block;
    font-size: 24px;
    color: #000;
    padding: 20px 19px;
}



.button_tabs .button_tabs_btn.tabs_btn-active{
    background-color: #FDCF00;
    color: #fff;
}







.block_tabs_content{
    margin-top: 25px;
    padding: 0 20px;
}

.block_tabs_content ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.block_tabs_content ul li{
    display: flex;
}


.block_tabs_content ul li span{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.block_tabs_content ul li .icon{
    min-width: 40px;
    text-align: center;
}





.block_tabs_content ul > li + li{
    margin-top: 20px;
}

.shops_content{
    margin-top: 50px;
}


.shops_content h3{
    font-size: 36px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 30px;
}
.shops_content_block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.shops_content_item{
    padding: 8px;
    flex-basis: 47%;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 1px 5.88px 0.12px rgb(121 121 121 / 80%);
}

.shops_content_item .img{
    height: 213px;
   
}
.shops_content_item .img img{
    width: 100%;
    height: 100%;
}
.shops_content_item .txt{
    background-color: #FFD231;
    padding: 20px 0;
    text-align: center;
    
}

.shops_content_item .txt span{
    
    font-size: 20px;
    color: #000;
    
}

.shops_content_item:hover .txt span{
    color: #fff;
}

.taggle_circle{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.taggle_circle .taggle_item{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #C9C9C9;
}

.taggle_circle > .taggle_item + .taggle_item{
    margin-left: 40px;
}

.taggle_circle .taggle_item.taggle_item-active{
    background-color: #FDCF00;
}
.build_map{
    text-align: center;
    margin-top: 30px;
}
.map_block{
    background-color: #F9F9F9;
    
    margin: 0 -20px;
    margin-top: 30px;
    padding-bottom: 30px;
    padding-top: 20px;
}

.map_block h3{
    padding-left: 20px;
    font-size: 24px;
    margin-bottom: 20px;
}
.map_block .map img{
    width: 100%;
}

.block_tabs_content{
    display: none;
}

.block_tabs_content.block_tabs_content-active{
    display: block;
}





/* contacts */

.contacts .title{
    margin-top: 30px;
}


.contacts .phone_mail{
    margin-top: 20px;
}

.contacts_wrapepr{
    padding: 0 20px;
    margin-top: 45px;
}


.contacts_shops{
    display: flex;
    justify-content: space-between;
}

.contacts_shops .left{
    width: 400px;
   
}
.contacts_shops .left .title_shops{
    width: 100%;
    box-shadow: 0px 1px 5.88px 0.12px rgb(121 121 121 / 80%);
    text-align: center;
}   

.contacts_shops .left .title_shops span{
    font-size: 24px;
    display: block;
    padding: 17px 0;
}


.contacts_shops .left .info_contacts{
    background-color: #FDCF00;
    width: 100%;
    padding: 35px 0 20px 12px;
    margin-top: 22px;
}

.contacts_shops .left .info_contacts span{
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}
.contacts_shops .left .info_contacts p{
    font-size: 24px;
    margin: 0;
    font-weight: 600;
}



.contacts_shops .left .info_contacts .date_week{
    margin-bottom: 16px;
}




.moj_dvor{
    margin-top: 100px;
}









.contacts .map_block{
    margin: 0;
    margin-top: 60px;
}






/* filters */
.filters{
    margin-bottom: 60px;
    position: relative;
}

.filter_modal{
    position: fixed;
    left: -100%;
    top: 25%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 20;
    
    transition: left .3s ease;
    
}



.filter_modal.filter_modal-active{
    left: 0;
}



.filter_modal_content{
    height: 68%;
    overflow: auto;
    padding: 0 20px;
}



.filter_modal .title{
    margin-top: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter_modal .title .txt{
    display: flex;
    align-items: center;
}
.filter_modal .title h3{
    font-size: 36px;
    margin: 0;
    font-weight: normal;
    margin-right: 100px;
}
.filter_modal .title a{
    font-size: 24px;
    color: #A1A4AE;
    text-decoration: underline
}

.filter_modal .title .close_filter_modal span{
    font-size: 24px;
    color: #A1A4AE;
}







.filters .title{
    margin-top: 30px;
}

.back_page{
    margin: 23px 0 35px 0;
}
.back_page a{
    display: flex;
    align-items: center;
    padding-left: 20px;
}



.back_page a span{
    color: #000;
    font-size: 30px;
    padding-left: 15px;
}

.filters_item{
    display: flex;
    padding-left: 58px;
    border-top: 1px solid #F9F9F9;
    border-bottom: 1px solid #F9F9F9;
    padding-top: 40px;
    padding-bottom: 40px;
}

.filters_item .filer_btn{
    display: flex;
    align-items: center;
}
.filters_item .open_filter{
    margin-right: 215px;
}

.filters_item .filer_btn span{
    font-size: 23px;
}

.filters_item .filer_btn .filter_icon{
    margin-right: 15px;
}




.block_product .product_item{
    display: flex;
    padding: 30px 0;
    padding-left: 60px;
    position: relative;
    border-bottom: 1px solid #F9F9F9;
}

.block_product .product_item .like{
    position: absolute;
    top: 35px;
    left: 27px;
    
    
}
.block_product .product_item .like i{
    font-size: 22px;
    font-family: 'Bahnschrift';
}

.block_product .product_item .like .icon-heart{
    color: #FDCF00;
    display: none;
}
.block_product .product_item .like.like-active .icon-heart{
    display: block;
}
.block_product .product_item .like.like-active .icon-heart-empty{
    display: none;
}






.block_product .product_item .product_img{
    display: flex;
    align-items: center;
}

.block_product .product_item .product_description{
    margin-left: 70px;
}

.block_product .product_item .product_description .name_prod{
    font-size: 24px;
    color: #000;
    display: block;
    padding-right: 105px;
    margin-bottom: 60px;
}


.all_price{
    font-size: 48px;
    display: block;
    margin-bottom: 20px;
}
.all_price i::before{
    margin: 0;
}

.countPrice_inBasket{
    display: flex;
}

.count_price{
    width: 124px;
    height: 63px;
    display: flex;
    border: 1px solid #F3F3F3;
}
.count_price input{
    width: 100%;
    border: none;
    font-size: 30px;
    text-align: center;
    color: #656565;
}
.count_price .count_btn{
    width: 37px;
    display: flex;
    flex-direction: column-reverse;
}
.count_price .count_btn button{
    border: none;
    height: 32px;
    background-color: #F9F9F9;
}
.count_price .count_btn button span{
    font-size: 20px;
    color: #5C5C5C;
}
.count_price .count_btn button:hover{
    background-color: #AAAAAA;
}
.count_price .count_btn button:hover span{
    color: #fff;
}


.in_basket{
    font-size: 26px;
    color: #000;
    background-color: #FFD231;
    width: 304px;
    height: 63px;
    padding: 17px 0;
    text-align: center;
    transition: .3s;
    margin-left: 35px;
}






.in_basket:hover {
    box-shadow: inset 0 0 20px 5px #f9bb00;
    transition: .3s;
    color: #fff;
}








.filter_modal .price_range{
    padding-top: 30px;
    padding-bottom: 15px;
}

.filter_modal .price_range .title{
    background-color: transparent;
    font-size: 30px;
    padding: 0;
    margin-left: 25px;
}



.filter_modal .price_range .cost{
    padding: 0 60px;
    margin-top: 30px;
}
.filter_modal .price_range .cost .range_line span{
    outline: none !important;
}

.filter_modal .price_range .cost_price{
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    width: 90%;
    
}

.filter_modal .price_range .cost_price  div{
    width: 237px;
}
.filter_modal .price_range .cost_price  div input{
    width: 100%;
    border: 1px solid #DADADA;
    outline: none;
    padding: 7px 0;
    font-size: 24px;
    text-align: center;
}
.filter_modal .price_range .cost_price .line{
    position: absolute;
    width: 27px;
    height: 2px;
    background-color: #D2D2D2;
    top: 20px;
}



.filter_modal .apply_btn{
    width: 100%;
    background-color: #FDCF00;
    font-size: 36px;
    color: #000;
    display: block;
    text-align: center;
    padding: 17px 0;
    margin-top: 30px;
}













.filter_modal .item_filter .title{
    display: flex;
    cursor: pointer;
    justify-content: flex-start;
    background-color: transparent;
    align-items: center;
}


.filter_modal .item_filter .title span{
    font-size: 30px;
    font-weight: normal;
}

.filter_modal .item_filter .title div{
   transform: rotate(-90deg);
   margin-right: 30px;
    
}



.filter_modal .item_filter.active  .filter_item_list{
    display: block;
}

.filter_modal .item_filter{
    margin: 0 ;
    padding: 10px 0;
    border-bottom: 2px solid #F9F9F9;
}
.filter_modal .item_filter .filter_item_list{
    display: none;
    padding-left: 18px;
    margin-top: 25px;
    
}
.filter_modal .item_filter .filter_item_list > label + label{
    margin-top: 20px;
}
.filter_modal .item_filter .filter_item_list .label{
    display: flex;
    cursor: pointer;
    
}



.label-active{
    color: #000 !important;
}

.filter_modal .item_filter .filter_item_list .check{
    display: none;
}



.filter_modal .item_filter .filter_item_list .fake{
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #DADADA;
    position: relative;
    margin: 0px 10px 0 0;
}

.filter_modal .item_filter .filter_item_list .fake i{
    position: absolute;
    top: 1px;
    left: -4px;
    font-size: 35px;
    display: none;
    color: #fff;
}

.filter_modal .item_filter .filter_item_list .check:checked + .fake{
    background-color: #FFD231;
    border-color: #FFD231;
}
.filter_modal .item_filter .filter_item_list .check:checked + .fake i{
    display: block;
}

.filter_modal .item_filter .filter_item_list .txt{
    font-size: 24px;
    color: #AEAEAE;
    padding-top: 4px;
    
}


.filter_modal .filters_block{
    background-color: #fff;
    
}

.filter_modal .item_filter .filter_item_list a{
    font-size: 20px;
    color: #AEAEAE;
    display: block;
    margin-top: 15px;
}
.filter_modal .item_filter .filter_item_list .more_brands{
    display: none;
}

.filter_modal .item_filter .filter_item_list .more_brands .label{
    margin-top: 20px;
}



/* shop_detail */


.instrument_content_block{
    justify-content: space-between;
}




.instrument_content_block .instrument_item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 5.88px 0.12px rgba(121, 121, 121, 0.8);
    padding: 15px 30px;
    margin-bottom: 30px;
    background-color: #fff;
    
}

.swiper-container{
    margin-left: 0;
    margin-right: 0;
}


.instrument_content_block .instrument_item .slider_block{
    width: 400px;
    padding-top: 30px;
}
.instrument_content_block .instrument_item .slider_block .slider_content{
    width: 333px;
    margin: 0 auto;



    
}



.instrument_content_block .instrument_item .slider_block .swiper-button-prev::after,
.instrument_content_block .instrument_item .slider_block .swiper-button-next::after{
    display: none;
}


.instrument_content_block .instrument_item .slider_block .swiper-button-prev{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 5px #000; 
    left: 2px;
}
.instrument_content_block .instrument_item .slider_block .btn_slider{
    top: 55%;
}
.instrument_content_block .instrument_item .slider_block .swiper-button-next{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 5px #000; 
    right: 2px;
}

.instrument_content_block .instrument_item .slider_block .btn_slider .arrow{
    position: relative;
}


.instrument_content_block .instrument_item .slider_block .btn_slider .arrow span{
    position: absolute;
    top: 0;
    left: -4px;
    width: 10px;
    height: 2px;
    background-color: #838181;
}

.instrument_content_block .instrument_item .slider_block .swiper-button-prev .arrow span:first-child{
    transform: rotate(-45deg);
    top: -4px;
    left: -6px;
}
.instrument_content_block .instrument_item .slider_block .swiper-button-prev .arrow span:last-child{
    transform: rotate(45deg);
    top: 3px;
    left: -6px;
}



.instrument_content_block .instrument_item .slider_block .swiper-button-next .arrow span:first-child{
    transform: rotate(45deg);
    top: -4px;
    right: -6px;
}
.instrument_content_block .instrument_item .slider_block .swiper-button-next .arrow span:last-child{
    transform: rotate(-45deg);
    top: 3px;
    right: -6px;
}





.instrument_content_block .instrument_item .txt{
    max-width: 395px;
}

.instrument_content_block .instrument_item .txt .top{
    display: flex;
}
.instrument_content_block .instrument_item .txt .top .logo_btn{
    margin-right: 50px;
}

.instrument_content_block .instrument_item .txt .top .logo{
    margin-bottom: 15px;
}
.instrument_content_block .instrument_item .txt .top .btn_detail{
    display: block;
    width: 183px;
    height: 32px;
    color: #000;
    text-align: center;
    font-size: 18px;
    background-color: #FDCF00;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instrument_content_block .instrument_item .txt .top .btn_detail:hover {
    box-shadow: inset 0 0 20px 5px #f9bb00;
    transition: .3s;
    color: #fff;
}




.instrument_content_block .instrument_item .txt .top .info p{
    margin: 0;
    font-size: 25px;
}
.instrument_content_block .instrument_item .txt .top .info ul > li + li{
    margin-top: 0;
}
.instrument_content_block .instrument_item .txt .top .info ul li a{
    color: #000;
    font-size: 18px;
}

.instrument_content_block .instrument_item .txt .top .info ul li span{
    font-size: 18px;
}


.instrument_content_block .instrument_item .txt .bot p{
    font-size: 11px;
}


.instrument_content_block .instrument_item .txt .bot span{
    font-size: 11px;
}
.instrument_content_block .instrument_item .txt .bot ul li span{
    font-size: 11px;
}
.tabs_instrum_content {
    padding: 0;
}
.tabs_instrum_content .instrument_content_block{
    background-color: #F9F9F9;
    padding: 20px 20px 60px 20px;
}




.tabs_instrum_content  .shops_content h3{
    padding-left: 20px;
}         



.instrument_content_block .btn_more{
    display: block;
    margin: 0 auto;
    width: 180px;
    color: #000;
    font-size: 24px;
    background-color: #FDCF00;
    text-align: center;
    padding: 2px 0;
}


.instrument_content_block .btn_more:hover{
    box-shadow: inset 0 0 20px 5px #f9bb00;
    transition: .3s;
    color: #fff;
}





/* card detail */

.card_detail .back_page{
    margin: 0;
    margin-top: 23px;
}

.card_detail .title{
    margin-top: 30px;
}

.card_detail_wrapper{
    background-color: #F8F8F8;
    padding-top: 47px;
}



.card_detail_wrapper .prod_name{
    font-size: 36px;
    margin: 0;
    padding-left: 20px;
    padding-right: 120px;
    
}


.card_detail_wrapper .block_slider_product{
    background-color: #fff;
    margin-top: 30px;
    height: 603px;
}


.card_detail_wrapper .block_slider_product .product_slider_item{
    text-align: center;
}


.product_slider_item{
    display: flex;
    justify-content: center;
    align-items: center;
}




.product_slider .swiper-pagination-bullet{
    width: 145px;
    height: 4px;
    border-radius: 0%;
    background: #E4E7EB;
    opacity: 1;
}


.product_slider .swiper-pagination-bullet-active{
    background: #B2B9C7;
}



.card_detail_wrapper .product_item{
    background-color: #fff;
    margin-top: 20px;
    padding: 0 20px;
}

.card_detail_wrapper .product_item .all_price{
    padding-left: 30px;
    padding-bottom: 24px;
    border-bottom: 1px solid #F9F9F9;
    margin-bottom: 50px;
}



.card_detail_wrapper .product_item .in_basket{
    width: 480px;
    height: 100px;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
}



.card_detail_wrapper .product_item .countPrice_inBasket{
    justify-content: space-between;
}


.card_detail_wrapper .product_item{
    padding: 40px 20px;
}

.card_detail_wrapper .count_price{
    height: 100px;
    width: 200px;
}


.card_detail_wrapper .count_price .count_btn{
    width: 55px;
}
.card_detail_wrapper .count_price .count_btn button{
    height: 50px;
}
.card_detail_wrapper .count_price .count_btn button span{
    font-size: 35px;
}

.card_detail_wrapper .count_price input{
    font-size: 40px;
}


.card_detail_wrapper .product_item .favorites_share{
    display: flex;
    justify-content: space-between;
    padding: 0 65px;
    margin-top: 50px;
}


.card_detail_wrapper .product_item .favorites_share .favorites,
.card_detail_wrapper .product_item .favorites_share .share{
    display: flex;
    align-items: center;
}


.card_detail_wrapper .product_item .favorites_share .favorites span,
.card_detail_wrapper .product_item .favorites_share .share span{
    font-size: 22px;
    color: #000;
    
}


.card_detail_wrapper .delivery{
    display: flex;
    justify-content: space-between;
    padding: 20px 70px;
}
.card_detail_wrapper .delivery .delivery_info{
    display: flex;
    align-items: center;
}

.card_detail_wrapper .delivery .delivery_info .txt{
    margin-left: 22px;
    position: relative;
}
.card_detail_wrapper .delivery .delivery_info .txt p{
    margin: 0;
    font-size: 20px;
    color: #989696;
    
}
.card_detail_wrapper .delivery .delivery_info .txt .question{
    position: absolute;
    top: -10px;
    right: -20px;
}
.card_detail_wrapper .delivery .delivery_info .txt span{
    font-size: 20px;
    color: #000;
}


.card_detail_wrapper .description_prod{
    background-color: #fff;
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
}

.card_detail_wrapper .description_prod h3{
    font-size: 30px;
    margin: 0;
}
.card_detail_wrapper .description_prod .description_block{
    overflow: hidden;
    width: 725px;
    height: 150px;
    transition: .3s;
}
.card_detail_wrapper .description_prod .description_block.description_block-active{
    height: auto;
}

.card_detail_wrapper .description_prod .description_block p{
    font-size: 29px;
}
.card_detail_wrapper .description_prod .btn_more_description{
    text-align: center;
}
.card_detail_wrapper .description_prod .btn_more_description img{
    transform: rotate(-90deg);
    transition: .3s;
}

.card_detail_wrapper .description_prod .btn_more_description.btn_more_description-active img{
    transform: rotate(90deg);
}




.card_detail_wrapper .characteristics{
    background-color: #fff;
    border-top: 2px solid #F9F9F9;
    padding-top: 23px;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 40px;
}
.card_detail_wrapper .characteristics .characteristics_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card_detail_wrapper .characteristics .characteristics_title span{
    font-size: 30px;
}

.card_detail_wrapper .characteristics .characteristics_title .icon img{
    transform: rotate(-90deg);
    transition: .3s;
}
.card_detail_wrapper .characteristics .characteristics_title.active .icon img{
    transform: rotate(90deg);
}
.card_detail_wrapper .characteristics .characteristics_content{
    margin-top: 20px;
    display: none;
}
.card_detail_wrapper .characteristics .characteristics_content ul{
    margin: 0;
    padding: 0;
    padding-left: 15px;
}
.card_detail_wrapper .characteristics .characteristics_content ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #F9F9F9;
    padding: 10px 0;
} 

.card_detail_wrapper .characteristics .characteristics_content ul li span{
    font-size: 24px;
}


















































